.DS_Store
.venv
.env

# python build
*.pyc
__pycache__
dist
scenarios/

.ipynb_checkpoints

doc/doc
doc/build
doc/doxygen.log

utils/data/

# force add if necessary; exclude compile output by default
doc/source/figures/*.eps
doc/source/figures/*.pdf
doc/source/figures/*.png
